.hero-image{
    left: 38rem;
    top: 12rem;
  }
.num_1{
  font-size: 150px;
  /* margin-right: 900px; */
  font-family: 'Dosis', sans-serif;
  margin-top: -25px;
  text-align: left;
}
.num_2{
  /* padding-left: 285px; */
  text-align:left;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.num_3{
  font-size: 150px;
  /* margin-right: 930px; */
  font-family: 'Dosis', sans-serif;
  /* padding-left: 170px; */
  margin-top: -190px;
}
#section-prize{
  display: flex;
  align-items: center;
  justify-content: center;
}
.class_1{
  text-align: left;
}
/* .num_5{
  line-height: 2px;
} */

#id_1{
  color: #DB7C43;
   font-size: 7rem;
  margin-bottom: -50px;
}
#id_2{
  font-size: 1.4rem; text-align: left;font-family: 'Rubik', sans-serif; letter-spacing: 2px; padding-right: 50px;
  margin-bottom: -20px;
}
#id_3{
  width: 90%;
  font-size: 1.4rem;letter-spacing: 2px;letter-spacing: 2px;text-align: left;font-family: 'Rubik', sans-serif;
  margin-bottom: -35px;
}
#id_4{
  ont-size: 2.2rem;color: 
   #f18c4f; text-align: 
   left;font-family: 'Rubik', sans-serif;
}
#id_5{
  color: #f18c4f;
}
#id_6{
  font-size: 1.4rem;letter-spacing: 2px;text-align: left;font-family: 'Rubik', sans-serif;
}
.tshirt{
  margin-left: 950px;
  margin-bottom: -800px;
}
@media only screen and (max-width: 420px){
  #id_1{
    color: #DB7C43;
     font-size: 5rem;
    margin-bottom: -50px;
  }
  #id_2{
    font-size: 0.9rem; text-align: left;font-family: 'Rubik', sans-serif; letter-spacing: 2px; padding-right: 50px;
    margin-bottom: -20px;
  }
  #id_3{
    font-size: 1rem;letter-spacing: 2px;letter-spacing: 2px;text-align: left;font-family: 'Rubik', sans-serif;
    margin-bottom: -35px;
  }
  #id_4{
    font-size: 2rem;color: 
     #f18c4f; text-align: 
     left;font-family: 'Rubik', sans-serif;
  }
  #id_5{
    color: #f18c4f;
  }
  #id_6{
    font-size: 1rem;letter-spacing: 2px;text-align: left;font-family: 'Rubik', sans-serif; 
  }
  /* #esummitheading{
    margin-top: 5rem!important;
  }
  #presents{
    margin-top: 15rem!important;
    font-size: 0.7rem!important;
  }
  #logo-tiedc{
    margin-right: 1rem;
    width: 4rem!important;
    height: 2.5rem!important;
    margin-bottom: 0.5rem;
  } */

  
  }
    @media only screen and (max-width: 769px){
.hero-image{
    left: 17rem;
    top: 12rem;
  }
  .hero-image img{
    width: 15rem;
    height: 4.5rem;
  }
}
  @media only screen and (max-width: 426px){
.hero-image{
    left: 9.5rem;
    top: 7.5rem;
  }
  .hero-image img{
    width: 9rem;
    height: 3.5rem;
  }
}
@media only screen and (max-width: 376px){
.hero-image{
    left: 8rem;
    top: 7.5rem;
  }
  .hero-image img{
    width: 8rem!important;
    height: 3rem!important;
  }
}

@media only screen and (max-width: 320px){
.hero-image{
    left: 6.5rem!important;
    top: 6.5rem!important;
  }
  .hero-image img{
    width: 8rem!important;
    height: 2.5rem!important;
  }
}
