.num_1 {
  font-size: 150px;
  /* margin-right: 900px; */
  font-family: "Dosis", sans-serif;
  margin-top: -25px;
  text-align: left;
}
.num_2 {
  /* padding-left: 285px; */
  text-align: left;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.num_3 {
  font-size: 150px;
  /* margin-right: 930px; */
  font-family: "Dosis", sans-serif;
  /* padding-left: 170px; */
  margin-top: -190px;
}
#section-prize {
  display: flex;
  align-items: center;
  justify-content: center;
}
.class_1 {
  text-align: left;
}
/* .num_5{
  line-height: 2px;
} */

.tshirt {
  margin-left: 950px;
  margin-bottom: -800px;
}

.tiedc-hpced-logo {
  width: 18rem !important;
  height: 5rem !important;
  z-index: 100;
  margin-top: -85vh;
}

.logo-space {
  margin-bottom: 5px;
}

.presents-hero {
  font-weight: 200;
  font-size: 1.2rem;
}

@media only screen and (max-width: 450px) {

  .tiedc-hpced-logo {
    z-index: 100;
    margin-top: -50px !important;
    display: none;
  }

  .presents-hero {
    display: none;
  }
}

@media only screen and (max-width: 780px) {
  .tiedc-hpced-logo {
    z-index: 100;
    margin-top: -50px !important;
    display: none;
  }

  .presents-hero {
    display: none;
  }
}

.custo{
  margin-right: 0px; margin-left: 0px; display: flex; flex-wrap: wrap; justify-content: flex-end;
}

.para1{
  font-size: 7rem;
}

.para2{
  font-size: 1.4rem;font-family: 'Rubik', sans-serif; letter-spacing: 2px; padding-right: 50px;
}

.para3{
  font-size: 2.2rem;font-family: 'Rubik', sans-serif;
}

.para4{
  width: 90%;font-size: 1.4rem;letter-spacing: 2px;font-family: 'Rubik', sans-serif;
}

.para5{
  font-size: 1.4rem;letter-spacing: 2px;text-align: left;font-family: 'Rubik', sans-serif;
}

.pic{
  height: 450px;
}

@media only screen and (max-width:1100px) {
  .custo{
    justify-content: space-around;
  }
}

@media only screen and (max-width: 770px){
  .allstuff{
    min-width: 400px;
  }
  .custo{
    justify-content: space-around;
    margin-right: 10px;
  }
  
  .para1{
    font-size: 4rem;
  }
  
  .para2{
    font-size: 1rem; 
    letter-spacing: 2px;
  }
  
  .para3{
    font-size: 1.4rem;
    padding-bottom: 0px;
  }
  
  .para4{
    width: 90%;font-size: 1rem;
    letter-spacing: 2px;
  }
  
  .para5{
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .pic{
    height: 350px;
  }
}

@media only screen and (max-width: 400px){
  .allstuff{
    min-width: 270px;
  }
  .pic{
    height: 300px;
  }
  }
